<%- include('../../shared/includes/head', { pageTitle: 'Your Cart' }) %>
<link rel="stylesheet" href="/styles/cart.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Cart</h1>
    <ul id="cart-item">
        <% for( cartItems of locals.cart.items){ %>
        <li>
           <%- include("includes/cart-items", {item:cartItems}) %>
        </li>
        <% } %>
    </ul>
    <div id="cart-total">
        <p>TOTAL: ₹ <%= locals.cart.totalPrice.toFixed(2) %></p>

        <button class="btn">BUY PRODUCTS</button>

    </div>
  </main>
<%- include('../../shared/includes/footer') %>