<%- include('../includes/head', { pageTitle: 'Signup' }) %>
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/base.css">
</head>
<body>
	<%- include('../includes/header') %>
	<main>
		<h1>Create New Account</h1>

		<% if (inputData.errorMessage) { %>
      		<section class="alert">
        		<h2>Invalid Input</h2>
        		<p><%= inputData.errorMessage %></p>
      		</section>
    	<% } %>

		<form action="/signup" method="POST">
			<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
			<p>
				<label for="email">E-Mail</label>
				<input type="email" name="email" id="email" value="<%= inputData.email %>" required />
			</p>

			<p>
				<label for="confirm_email">Confirm E-Mail</label>
				<input type="email" name="confirm_email" id="confirm_email" value="<%= inputData.confirm_email %>" required />
			</p>

			<p>
				<label for="password">Password</label>
				<input
					type="password"
					name="password"
					id="password"
					value="<%= inputData.password %>"
					required
					minlength="6"
				/>
			</p>

			<hr />
			<hr />

			<p>
				<label for="f_name">Name</label>
				<input type="text" name="f_name" id="f_name" value="<%= inputData.f_name %>" required />
			</p>

			<p>
				<label for="street">street</label>
				<input type="text" name="street" id="street" value="<%= inputData.street %>" required />
			</p>

			<p>
				<label for="postal">Postal code</label>
				<input
					type="text"
					name="postal"
					id="postal"
					value="<%= inputData.postal %>"
					required
					minlength="6"
					maxlength="6"
				/>
			</p>

			<p>
				<label for="city">City</label>
				<input type="text" name="city" id="city" value="<%= inputData.city %>" required />
			</p>

			<button class="btn">Create Account</button>
			<p id="switch-form"><a href="/login">Login Instead</a></p>
		</form>
	</main>

	<%- include('../includes/footer') %>

